.project{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    background-color: #fff;
    align-items: center;

}

.work-title{
    color: #000;
    font-size: 35px;
    font-weight: 700;
    margin-top: 5%;
    width: 200px;
    height: auto;
    padding: 5px;
}

.work-subtitle{
    margin-top: 10px;
    font-size: 22px;
    width: 45%;
    height: auto;
    padding: 5px;
    line-height: 38px;
    text-align: center;
}

.about-line{
    width: 7%;
    height: 5px;
    background-color: #FCA311;
    margin-top: 10px;
    margin-left: -20px;
}

.work-display{
    width: 90%;
    height: auto;
    margin-top: 5%  auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 10px;
}

.work-done{
     flex: 1;
     height: auto;
     overflow: hidden;
     background-color: #FFF;
     margin-left: 7%;
}

.work-done img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.work-description{  
    flex: 1.5;
    padding: 10px;
    background-color: #FFF;
    height: auto;
    margin-top: 5%;
}

.project-titles{
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.project-subtitle{
    color: #FCA311;
    font-size: 18px;
    margin-top: 10px;
}

.description{
    margin-top: 5px;
    line-height: 1.6;
}


.features{
    width: 80%;
    height: auto;
    padding: 5px;
    /* background-color: #FCA311; */
    margin-top: 20px;
}

.feature-title{
    font-weight: 600;
}


.moree{
    margin-top: 5px;
    width: 23%;
    padding: 5px;
    font-size: 16px;
    height: auto;
    background-color: #FCA311;
    cursor: pointer;
}

.moree span{
    margin-left: 20px;
}

.moree a{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
}


.work-done2{
    flex: 1;
    height: auto;
    overflow: hidden;
    background-color: #FFF;
    margin-left: -5%;
}

.work-done2 img{
   width: 100%;
   height: auto;
   object-fit: cover;
}

@media (max-width: 780px) {


    .work-title{
        text-align: center;
        width: 100%;
        font-size: 30px;
    }

    .work-subtitle{
        width: 100%;
        font-size: 18px;
    }

    .work-display{
        /* background-color: #FCA311; */
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .work-description{
        margin-top: 0%;
        width: 100%;
        display: flex;
        flex-direction: column;  
    }

    .moree{
        width: 35%;
    }


    
}
